/* styles.css */

body {
    font-family: 'Quattrocento sans', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://github.com/NinjaSotos/HarmonyEssence.github.io/blob/main/images/background.png?raw=true");
}
header {
    text-align: center;
}

nav {
    padding: 1em;
    position:relative;
    overflow: hidden;
    border-bottom: 1px solid black;
}
.topnav a {
    float: left;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}
.topnav a:hover {
    background-color: #d6c9ba;
    color: white;
}
section {
    padding: 2em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    bottom: 0;
    left:0;
    right:0;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

.candle-item {
   display:block;
   padding: 1rem;
   margin: 20px;
}
.candle-item img {
    width: 100%;
    margin: 0 auto;
}

.heading {
    
    background-color: #B9A996;
    color: #695f5f;
    text-align: center;
    padding: 5px;
}
h1 {
    font-size: 2em;
    color: #534f4f;
    font-family:  Georgia, Times, 'Times New Roman', serif ,Arial; 
}
h2 {
    font-size: 1.2em;
}
h3 {
    font-size: 1em;
    color: #534f4f;
}
.aboutus {
    max-width: 700px;
    width: 90%;
    margin: 0 auto;
    padding: 1em;
    position: relative;
    text-align: left;
}
@media only screen and (max-width: 300px) {
    .aboutus {
       
        font-size: 1.5rem; /* Use rem units for font size */
    }
}
.price {
    font-weight: bold;
}
.container {
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Add padding to create space around the content */
}
.description {
    font-size: 16px;
    line-height: 1;
    color: #333; /* Adjust color as needed */
  }
  .description p {
    margin-bottom: 5px; /* Adjust spacing between paragraphs */
  }
  
  .description .fragrance {
    text-decoration: underline;
  }
  .Shaped {
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    display: flex; /* Prevents them from breaking onto new lines */
  }
  .geo-size{
    display: inline-block;
    margin: 5px;
  }
  .about{
    width:100%;
    text-align: center;
  }
  .about img{
    display: inline-block;
    width: 70%;
    height: 300px;
    object-fit: cover;
  }
  .contact{
    width:100%;
    text-align: center;
  }
  .contact img{
    display: inline-block;
    width: 100%;
    height: 300px;
    width:100%;
    text-align: center;
  }

.social-links a {
    display: inline-block; /* Ensure proper alignment */
    margin: 0 10px; /* Adjust spacing between icons */
}
.social-links img {
    width: 40px; /* Set the width of the image to 20 pixels */
    height: auto; /* Maintain aspect ratio */
}
.spacer{
    background-color: #B9A996;
    color: #695f5f;
    text-align: center;
    padding: 2px;
}
