/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #eee;
    padding: 1em;
}

section {
    padding: 2em;
    background-color: #fbebd9;}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.candles-grid {
    display: grid;
    grid-template-rows: repeat(auto-fit, 0.3fr);
    grid-template-columns: repeat(auto-fit, minmax(100px,0.3fr));
    justify-items: space-evenly;
    align-items: space-evenly;
}

.candle-item {
    padding: 1rem;
   
}
.candle-item img {
    width: 100%;
    height: auto;
}
